.footer-bottom
  .navbar-bottom
    ul
      li
        a(href='#') Sign in
          i.icon-key(style='font-size:16px;margin-left:5px;')
      li: a(href='#') About
      li: a(href='#') News
      li: a(href='#') Policies
      li: a(href='#') Terms of Use
  .copyright
    -function getYear() {
      -return new Date().getFullYear()
    -}
    p © #{getYear()} #{company}

  a(href='#top')#scrollTop: i.fa.fa-chevron-up
