.footer-bottom
  .navbar-bottom
    ul
      li: a(href='#') Sign in
      li: a(href='#') About
      li: a(href='#') News
      li: a(href='#') Policies
      li: a(href='#') Terms of Use
  .copyright
    p © 2017 #{company}

.back-to-top
  a(href='#'): i.fa.fa-chevron-up

  //.social
  //	p Follow us!
  //		each val, index in social
  //			a(href= index target='_blank')
  //				i(class="fa fa-#{val}")
