#about-wrapper.about-wrapper
  #about.about.page-narrow.container
    .col-md-8.col-sm-7.col-xs-12
      h2 Over #[span(class='highlighted') 15 years] of Medical Equipment Distribution, Sourcing, and Refurbishing
      p DME is a leading supply company for new, used, and refurbished anesthesia machines, surgical tables, electrosurgical equipment, patient monitors, surgery lights, hospital equipment, surgical equipment, emergency medical equipment and a variety of used medical equipment. Many items are in stock and ready to ship.
      .about-btns
        .about-btn
          a.btn-bright(href='#') Learn more about DME
        .about-btn
          a.btn-bright(href='#') Sell us your equipment
      img(src='/images/about-1.png')


