- var ns = home.ns
#marquee-wrapper.marquee-wrapper

  #marquee.marquee(style='background: url(/images/0.jpg); background-size: cover; background-position: center top;')
    .carousel.page-width

      .carousel-item
        .carousel-text
          h2 Surgical Lighting System
          h3 Power Procedure Chair
          h4 Patient monitoring solutions for your medical facility
          a.btn-main.btn-marquee(href='#') More info
            i.fa.fa-arrow-right
        .carousel-overlay-img
          img(src='/images/product-1.png')
      //- .carousel-item
      //-   .carousel-text
      //-     h2 #2
      //-     h3 Power Procedure Chair
      //-     h4 Patient monitoring solutions for your medical facility
      //-     a.btn-main.btn-marquee(href='#') More info
      //-       i.fa.fa-arrow-right
      //-   .carousel-overlay-img
      //-     img(src='/images/product-0.png')
      //- .carousel-item
      //-   .carousel-text
      //-     h2 #3
      //-     h3 Power Procedure Chair
      //-     h4 Patient monitoring solutions for your medical facility
      //-     a.btn-main.btn-marquee(href='#') More info
      //-       i.fa.fa-arrow-right
      //-   .carousel-overlay-img
      //-     img(src='/images/product-1.png')


  #marquee-spacer.marquee-spacer

  #marquee-nav.marquee-nav
    .page-narrow
      ul.marquee-nav-ul
        li
          a(href='#')
            i.fa.fa-chevron-circle-up
            p Anesthesia Machines
        li
          a(href='#')
            i.fa.fa-chevron-circle-up
            p Patient Monitors
        li
          a(href='#')
            i.fa.fa-chevron-circle-up
            p Surgical Tables
        li
          a(href='#')
            i.fa.fa-chevron-circle-up
            p Surgical Lights
        li
          a(href='#')
            i.fa.fa-chevron-circle-up
            p Electrosurgical Units
