- var ns = home.ns
#marquee-wrapper.marquee-wrapper(style='background: url(/images/0.jpg); background-size: cover; background-position: center top;')

  #marquee
    #marquee-proper.marquee-proper
      .caroussel
        h1 hero

    #marquee-nav
      a(href="#") Anesthesia Machines
      a(href="#") Patient Monitors
      a(href="#") Surgical Tables
      a(href="#") Surgical Lights
      a(href="#") Electrosurgical Units
