mixin footerlg()
  #footer.footerlg

    .list-of-lists.container
      .footer-list
        h4 Who We Serve
        ul
          li: a(href='#') Surgery Centers
          li: a(href='#') Doctors Offices
          li: a(href='#') Training Facilities
          li: a(href='#') Exam Rooms
          li: a(href='#') Laboratories
          li: a(href='#') Research & Development
          li: a(href='#') International Distributors

      .footer-list
        h4 Equipment We Sell
        ul
          li: a(href='#') Respiratory Ventilators
          li: a(href='#') Surgical Tables
          li: a(href='#') Electrosurgical Units
          li: a(href='#') Anesthesia Machines
          li: a(href='#') Patient Monitors
          li: a(href='#') Surgical Lights

      .footer-list
        h4 Connect with DME
        ul
          li: a.soc(href='#') #[i.icon-facebook-with-circle] Facebook
          li: a.soc(href='#') #[i.icon-twitter-with-circle] Twitter
          li: a.soc(href='#') #[i.icon-linkedin-with-circle] LinkedIn
          li: a.soc(href='#') #[i.icon-google3] Google+
          li: a.soc(href='#') #[i.icon-youtube] YouTube
          li: a.soc(href='#') #[i.icon-github] Github

      .footer-list
        h4 Company Divisions
        ul
          li: a(href='#') Outpatient & Medical Specialties
          li: a(href='#') Hospital & Education
          li: a(href='#') International Distribution
          li: a(href='#') Integrated Rental Services
          li: a(href='#') Medical Parts & Supplies
          li: a(href='#') Veterinary Equipment

  include ../includes/_copy

