// TODO: overriding hero styles from other file...tidy up!

.page-narrow {
  max-width: 1060px;
  margin: 0 auto;
}

.marquee-wrapper {
  position: relative;
  top: 140px;
  margin-bottom: 140px;
}

.marquee {
  min-height: 440px;
  max-height: 440px;
}

@media screen and (max-width: 767px) {
  .marquee-wrapper {
    min-height: 360px;
    max-height: 360px;
    top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .carousel {
    padding: 0 0 0 80px;
  }
}
@media screen and (max-width: 767px) {
  .carousel {
    padding: 0;
  }
}

.carousel-text {

  padding: 42px 15px;
  width: 320px;
  height: 440px;
  background-color: rgba(255,255,255,0.85);

  h2 {
    color: #005293;
    font-size: 29px;
    font-family: $sansSemibold;
    line-height: 37px;
    margin-bottom: 10px;
  }

  h3 {
    color: #3a3a3a;
    font-size: 18px;
    font-family: $sansLight;
    line-height: 25px;
  }

  h4 {
    color: #121212;
    font-size: 22px;
    font-family: $sansSemiboldItal;
    line-height: 30px;
    margin: 10px 0 35px;
  }

  a.btn-marquee {
    border-radius: 5px;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px 2.5rem;
    i { padding-left: 6px; }
  }
}

.carousel-item {
  max-height: 440px;
}

.carousel-overlay-img {
  position: relative;
  bottom: 165px;
  left: 225px;
}

.marquee-nav {
  height: 100px;
  border-bottom: 1px solid #a0a4a7;
  background-color: #dadee0;
  background: linear-gradient(to bottom, #ffffff 0%,#dadee0 100%);
}

.carousel-indicators {
  height: 100px;
}

ul.marquee-nav-ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  li {
    flex: 1 20%;
    text-align: center;
    padding: 15px;
    &:hover {
      p { color: #242628; }
      i { color: $main; }
    }
    a { color: #5f6a70; }
    i {
      font-size: 34px;
      padding-bottom: 6px;
    }
  }
}

.marquee-spacer {
  height: 80px;
  background-color: white;
}









