include ./includes/layout
include ./mixins/mixins
body(data-spy='scroll' data-target='.navbar' data-offset='500')
  block content
    +fullnav(url)
    include ./includes/marquee
    +infoblock(info, 'dark')
    include ./includes/about
    +footerlg()

    //+wordsandheads(quotes)
    //include ./includes/logos-alt
    //+footerbg('black')
