include ./includes/layout
include ./mixins/mixins
body
  block content
    +fullnav(url)
    include ./includes/marquee
    +infoblock(info, 'dark')
    include ./includes/about
    //+wordsandheads(quotes)
    //include ./includes/logos-alt
    +footerbg('black')
